<div class="container mt-5">
  <div class="fade-in-bottom text-center mt-4 mb-5">
    <p class="h4 mb-3">自分の<span class="text-warning h3">「Aha!（発見）」</span>で他者に<span class="text-warning h3">「Aha!（驚き）」</span>を与え、</p>
    <p class="h4">シェアすることでさらなる<span class="text-warning h3">「Aha!(発見/驚き）」</span>を生む</p>
  </div>
	<div class="row mb-3">
	  <div class="col text-center">
      <p>Aha!はアイデアをシェアするアプリケーションです。</p>
      <p>「日頃何となく考えついたアイデア」「これは！」とひらめいたアイデアなどを投稿し、他のユーザーとシェアしましょう。</p>
      <p>気に入ったアイデアにはいいねやコメントをしてあげましょう。アドバイスをしてもいいですね！</p>
    </div>
  </div>
  <p class="about-bg-image1 mb-5"></p>
	<div class="row">
	  <div class="col text-center">
      <p class="text-info h3 mb-3">うーん…</p>
      <p>なかなかいい考えが思いつかない。</p>
      <p>そんな時はAha!でアイデアを募集してみましょう！</p>
      <p>他のユーザーからのコメントで「考えるきっかけ」が見つかるかもしれません。</p>
    </div>
  </div>
  <p class="about-bg-image2 mb-5"></p>
  <div class="row">
	  <div class="col text-center">
      <p class="h4 mb-5">Aha!を通じて<span class="text-warning h3">「思いがけない自身の可能性」</span>を見つけてみませんか？</p>
      <p class="text-right mb-5"><%= link_to 'まずはユーザー登録から >>', new_user_registration_path %></p>
    </div>
  </div>
</div>