<div class="container mt-5">
  <div class="row d-flex flex-column text-center quit">
    <div class="col-md mb-5 h3">本当に退会しますか？</div>
    <div class="col-md mb-5 quit-msg h6">
      退会すると会員情報や<br>
      これまでの投稿などが全て削除されます。<br>
      退会する場合は,「退会する」をクリックしてください。
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 text-center">
      <%= link_to "退会しない", users_user_path(id: current_user), class: 'glyphicon glyphicon-home btn btn-primary' %>　<%= link_to "退会する", users_user_path(current_user), method: :delete, "data-confirm" => "本当に退会してもよろしいですか？", class: "glyphicon glyphicon-tint btn btn-danger" %>
    </div>
  </div>
</div>